.barbers{
    display: flex; /* Use flexbox for horizontal layout */
    flex-direction: row; /* Ensure items are in a row */
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.barbers li{
    margin-right: 5px;
}
.container {
    margin-left: 174px; /* Removes any extra margin */
    margin-right: 174px;
    padding: 0; /* Removes any extra padding */
}

.heading{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: black;
    margin-bottom: 30px;
}

.instruction-container{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.instruction {
    list-style-type: none; /* No bullet points */
    padding-left: 0; /* Optionally remove default padding */
}

.instruction li {
    padding-left: 10px; /* Optional: Add some space between SVG and text */
}

.date-picker {
    margin-top: 100px;
    margin-bottom: 50px;
    align-items: center;
}